name: Build on Action-build Branch

on:
  push:
    branches:
      - Action-build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action-build branch
        uses: actions/checkout@v6

      - name: Set up Java 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: BetterNether-Build
          path: build/libs/*.jar
